body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
}
#chart-container {
  position: relative;
  width: 80%;
  margin: auto;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
.chart-title {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.chart-date {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f9fbfc;
  border: 1px solid #d6d8d9;
  display: flex;
  align-items: center;
}
.chart-date span {
  margin-right: 5px;
}
.chart-date .arrow-icon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
.chart-footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.chart-footer-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
#chart {
  margin-top: 30px; 
}
.icon {
  width: 16px; 
  height: 16px;
  margin-right: 5px;
}
